--- 
layout: default
---

<!-- MAIN CONTENT -->
<div id="main_content_wrap" class="outer">
	<div class="inner">	
		<a href="{{page.url}}"><h2> {{page.title}} </h2></a>
		
		<div class="post_date"> 
			{% if page.previous %}
				<a href="{{page.previous.url}}">&laquo;&laquo;</a>
			{% endif %}
			{{page.date || date_to_rfc822}}
			{% if page.next %}
				<a href="{{page.next.url}}">&raquo;&raquo;</a>
			{% endif %}
		</div>
		{{content}}
	{% if page.nocomments %}
	{% else %}
		{% include disqus.html %}
	{% endif %}
	</div>
</div>

